<launch>
	<rosparam>/use_sim_time: 0</rosparam>
  	<arg name="world_name" default="maze"/>

	<!-- planner -->
	<rosparam file="$(find global_path_planner)/cfg/rrt_planner.yaml" />
	<node pkg="global_path_planner" type="rrt_star_interactive_node" name="rrt_star_interactive_node" output="screen" />
	<!-- map -->
	<arg name="map_location" default="$(find global_path_planner)/octo_maps/$(arg world_name).bt"/>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node" args="$(arg map_location)" output="log" />
</launch>